@model TeachingTool.Models.Question


<h2>@ViewData["Type"]</h2>



<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSecond">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="title" class="control-label">Title</label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="content" class="control-label">Content</label>
                <textarea asp-for="content" class="form-control"></textarea>
                <span asp-validation-for="content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
    
<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}