@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Your password has been reset succesfully. Please click the button below to log in to the site:
</p>
<a asp-page="./Login" class="btn btn-primary">Log in</a>
